@CHARSET "UTF-8";

body{
	padding-top: 50px;
    margin: 0 auto;
    max-width: 1000px;
    min-height:960px;
}

.oemathclass-font-gothic{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#oemathid-navbar  {
	max-width: 1000px;
	margin: 0 auto;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.width100{ width: 100px; }
.width120{ width: 120px; }
.width150{ width: 150px; }
.width200{ width: 200px; }
.oemathclass-right { float: right; }

.oemathclass-faform div{
	margin-top: 10px;
}

.oemathclass-form-wrong{
	color: red;
}

.oemathclass-button{
    background-color: lightgreen;
    border-color: green;
}

.oemathclass-button:hover{
    background-color: rgb(160,255,120);
}

#oemathid-page-message{
	width: 100%;
	background-color: #ccffcc;
	color: green;
}

#oemathid-page-container{
	width: 100%;
}

div.oemathclass-inactive a{
   pointer-events: none;
}

/************
 ************
  navigation
 ************ 
 ************/
#oemathid-navbar{
    min-height: 48px;
    width: 100%;
}

.oemathclass-navbar{
	width:80px;
	text-align:center;
}

#oemathid-navbar-ul li.disabled a{
	cursor: default;
}
/************
 ************
  content
 ************ 
 ************/
#oemathid-page-content{
	width: 100%;
	margin: 0 auto;
	min-height:640px;
    background-color: #fafffa;
    overflow: auto;
}
#oemathid-content-carousel{
	height: 300px;
	background-color: #eeffee;
}
#oemathid-content-grade-container{
	padding-bottom: 30px;
}


.oemathclass-grade-area, .oemathclass-math-area{
    float: left;
    padding-left: 6px;
    padding-right: 6px;
    height: 100%;
}

.oemathclass-grade-area-31, .oemathclass-math-area-31{
    width: 33%;
}
.oemathclass-grade-area-31 .oemathclass-grade-content, .oemathclass-math-area-31 .oemathclass-math-category{
    margin-right: 20px;	
} 
.oemathclass-grade-area-32, .oemathclass-math-area-32{
    width: 34%;
}
.oemathclass-grade-area-32 .oemathclass-grade-content, .oemathclass-math-area-32 .oemathclass-math-category{
    margin-left: 10px; 
    margin-right: 10px; 
} 
.oemathclass-grade-area-33, .oemathclass-math-area-33{
    width: 33%;
}
.oemathclass-grade-area-33 .oemathclass-grade-content, .oemathclass-math-area-33 .oemathclass-math-category{
    margin-left: 20px; 
}

.oemathclass-grade-content{
	margin-top: 20px;
	margin-bottom: 10px;
    border-radius: 5px; 
    height: 160px;
    overflow: hidden;
    background-color: #ffffff;
    padding: 15px 20px 10px;
    position: relative;
}
.oemathclass-grade-content a{
    text-decoration: none;
    text-align: left;
}

.oemathclass-grade-link{
	display: block;
    background-color: #f39317;
    width: 48px;
    height: 42px;
    line-height: 42px;
    border-radius: 0 21px 21px 0;
    position: absolute;
    left: 0;
    padding-left: 20px;
    color: white;
    font-size: 24px;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
.oemathclass-grade-link-text{
	padding-left: 40px;
	positive: relative;
    font-size: 32px;
}

/************
 ************
  footer
 ************ 
 ************/
#oemathid-page-footer{
    min-height:48px;
    background-color: #e0e0e0;
}


/************
 ************
  /math
 ************ 
 ************/

#oemathid-math-pick{
	color: #088840;
}

.oemathclass-math-category{
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px; 
    height: 160px;
    overflow: hidden;
    background-color: #ffffff;
    padding: 15px 20px 10px;
    position: relative;
}

.oemathclass-math-category-title{
    font-size: 32px;
    text-align: center;
}


.oemathclass-tooltip{
	font-style: italic;
}


.oemathclass-title{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size:24px;
	color: green;
	margin-top: 12px;
}

	
}

